.foto-produto{
        width:160px;
        border-radius: 14px;
        box-shadow: -10px 10px 20px -18px black;
}



.media-scroller{
        display: grid;
        grid-auto-flow:column;
        grid-auto-columns:auto;
        overflow-x: auto;
        overscroll-behavior-inline: contain;
        gap: 20px;
        padding: 40px ;

}



::-webkit-scrollbar{
        width: 1px;
}

.media-elemento{
        background-color: #f1f1f1;
        padding: 30px;
        width: 120px;
        border-radius: 15px;
        transition-duration: 0.4s;
        box-shadow: 10px 10px 20px -5px black,
        inset 10px 10px 60px -45px red;
        margin: 0 30px;
}

.media-elemento:hover{
        scale: 1.1;
        margin: 0 40px;
}

.quero{
        background-color: rgb(249, 65, 65);
        box-shadow:
  inset -10px -10px 40px -16px rgb(240, 2, 54);
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 120px;
        height: 30px;
        
}

.quero a{
        color: white;
}

.text-produto{
        color: rgb(0,0,0, 0.7);
        font-size: 11px;
}

.star-popularidade-produto{
        color: yellow;
        font-size: 10px;
        transform: translateY(10px);
        filter: drop-shadow(0 0 4px black);
}

.container-avon{
        display: flex;
        flex-direction: column;
}

.avon-titulo{
        display: flex;
        justify-content: center;
}

.text-valor p{
        color: balck;
}